:root {
  --primary-500: #477a11;
  --primary-400: #57a203;
  --primary-300: #c0fa73;
  --Primary-200: #e8fec5;
  --primary-100: #f5fee7;
  --neutral-900: #212529;
  --neutral-700: #495057;
  --neutral-600: #6c757d;
  --neutral-500: #adb5bd;
  --neutral-300: #dee2e6;
  --neutral-100: #f8f9fa;
  --neutral-White: #ffffff;
  --functional-Danger-300: #d74f4f;
}
